li {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-size: 14px;
    color: darkmagenta;
    text-align: left;
    line-height: 15px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: aqua;
}
#section1 {
    font-weight: bolder;
}
dt {
    color: red!important;
}
body {
    background: #ddaaaa;
}